body{
    background-color: darkseagreen;
    margin-top: 1px;
    padding-top: 1px;
    margin-right: 0px;
    margin-left: 0px;
}
.centro{
    display: flex;
    flex-display: row;
    justify-content: space-between;
    margin-left: 5px;

}
.a{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    flex-display: row;
    align-self: end;
    margin-right: 20px;
    font-size: 25px;
    text-align: right;

}
#capcelera{
    background-image: url("../Images/fog-3622519_1920.jpg");
    width: 100%;
    text-align: left;
    padding-top: 50px;
    padding-bottom: 50px;
    background-position: right bottom;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}
.i{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

#imagen{
    display: flex;
    border-radius: 5px;
    padding-left: 10px;
    border: 3px solid black;
    flex-direction: column;
    flex-wrap: wrap;
}
#foot{
    background: lightgrey;
    margin-bottom: 0px;


}
.c{
    padding-left: 5px;
}
#footer{
    margin-top: 0px;
    background: black;
    color: wheat;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.fr{
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: column;
}
.z{
    margin-bottom: 0px;
}
